<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919899109169-euacuq9qt5asmmtdamv64hr2jpmjjiiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919899109169-euacuq9qt5asmmtdamv64hr2jpmjjiiq</string>
	<key>API_KEY</key>
	<string>AIzaSyALFYw0bB98M6GO6AkuZPmngUvVRcxBjBg</string>
	<key>GCM_SENDER_ID</key>
	<string>919899109169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scigic.classicnotes</string>
	<key>PROJECT_ID</key>
	<string>classic-flutter-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>classic-flutter-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919899109169:ios:f0d98ac497a302a902e210</string>
</dict>
</plist>